body,html {
    font-family: Arial, sans-serif;
}

#initial-page, #quiz-page, #modal {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 60%;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #9801fd;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #8c00ff;
}

.question {
    margin-bottom: 20px;
}

.hint-message {
    display: none;
    color: #888;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    border: 2px solid black !important;
}

#modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 1% 2% !important;
    background-color:#d19dfc;
}

.modal-body {
    border: 2px solid black;
    border-bottom-left-radius: 5pt;
    border-bottom-right-radius: 5pt;
}

.highlight-pink {
    background-color: rgb(255, 182, 225);
}

.highlight-green {
    background-color: rgb(196, 254, 196);
}

.card {
    width: 500px; 
    margin: 20px; /* Add margin between cards */
    display: inline-block; /* Make cards appear in one line */
    vertical-align: top; /* Align cards to the top */
  }

  .card.mb-3{
    border: 2px solid black;
  }

  .card-header {
    border-bottom: 2px solid black !important;
}


.form-check-input:checked {
    background-color: #ff00cf !important;
    border-color: #f77cff !important;
}

a.hint {
    color: #ff00cf;
    text-decoration: underline;
}

h2, h4 {
    color: rgb(255, 225, 253) !important;
    font-size: 40px;
    text-shadow: -1px 1px 2px #fd65e1,
                  1px 1px 2px #fd65e1,
                  1px -1px 0 #fd65e1,
                  -1px -1px 0 #fd65e1;
}

.custom-margin {
    margin-bottom: 20px; 
}
  button#submitAnswers, button#beginQuiz {
    position: relative;
  display: inline-block;
  border: 0; /* Removes the default button border */
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  }

  button#submitAnswers, button#beginQuiz {
    font-weight: 600;
    color: #382b22;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid #080708;
    border-radius: 0.75em;
    transform-style: preserve-3d; /*ensures that the 3D transformations of the buttons will be maintained*/     
  }

  button#submitAnswers::before, button#beginQuiz::before {
    position: absolute; /*position ::before absolutely within the button */
    content: ""; /* adding empty content allows ::before to render */
    width: 100%;      
    height: 100%;       
    right: 0;     /*aligns the 3d effect to the right */
    bottom: 0;   /*    and the bottom of the btn      */
    background: #f9c4d2; 
    border-radius: inherit;
    box-shadow: 0 0 0 2px #000000; /*creates a black border around the shadow*/
    transform: translate3d(0, 0.75em, -1em); /*0: no horizontal movement, 0.75em: pushing element slightly downward, -1em: pushing it backward for a 3D depth effect on the button */
  } /*note: (x, y, z) where x= horizontal, y= vertical, z= depth*/
    
  button#submitAnswers:hover, button#beginQuiz:hover {
    background: #ffe9e9; /* Change background color on hover to a slightly darker colour */
    transform: translate(0, 0.25em); /* Move the button slightly downward when hovering over it */
  }
  button#submitAnswers:hover::before, button#beginQuiz::before {
    box-shadow: 0 0 0 2px #000000, 0 0.5em 0 0 #ffe3e2; /* dual-box shadow effect: adds another shadow effect and moves it downward */
  }
  button#submitAnswers:active, button#beginQuiz:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em); /* Move the button more downward on click*/
  }
  button.button-home:active::before, button#beginQuiz:active::before {                                                       /*these both remove the 3D effect when clicking the btn*/
    box-shadow: 0 0 0 2px #000000, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em); /* Moves pseudo-element more backward on click */
  }

  #scoreDisplay {
    color:#ff00cf;
    font-size: 16pt;
    font-weight: bolder;
  }

  #timer {
    color: rgb(255, 255, 255) !important;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: -1px 1px 2px #85f589,
                  1px 1px 2px #85f589,
                  1px -1px 0 #85f589,
                  -1px -1px 0 #85f589;
  }